.contactBody {
    padding: 40px 0px 20vh 0;
}

.contactContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:0;

}

.contactContent > * { flex: 1; }

.contactLink {
    text-decoration: none;
    color: rgb(229, 235, 243);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.contactLinkTitle {
    color: rgb(142, 199, 210);
}

.SectionTitle {
    color: rgb(219, 165, 7);
    margin: 0;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    outline: 2px solid rgb(229, 235, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.contactCard:hover .circle{
    background-color: rgb(229, 235, 243);
}

/* TODO add animation */

.icon {
    width: 20px;
    fill:rgb(229, 235, 243);
}

.contactCard:hover .icon {
    fill: rgb(25, 37, 54);
}

