.SectionTitle {
    color: rgb(219, 165, 7);
    margin: 0;
}

.flex {
    display: flex;
}

.textFlexbox {
    flex:2;
}

.imageFlexbox {
    flex:1;
    box-shadow: rgb(15, 22, 32) 0px 3px 8px;

}

.workBody {
    margin: 35vh 0;
}

.introduction {
    line-height:32px;
    margin-top: 50px;

}


.introductionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}