.Text {
    color: rgb(229, 235, 243);
    margin:0;

}

.HiText {
    font-size: 20px;
    margin-bottom: 20px;
}

.NameText {
    font-size: 70px;

}

.ShortDescription {
    font-size: 20px;
    
}

.TextParentDiv {
    padding: 150px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 56vh;
    font-family: 'Inconsolata', monospace;
}

.TextParentDiv > * {
    font-family: 'Inconsolata', monospace;
}

.secondaryButton {
    border: 2px solid rgb(219, 165, 7);
    background-color: rgb(25, 37, 54);
    color: rgb(219, 165, 7);
    padding: 10px 20px;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
    margin-top: 50px;
    font-family: 'Inconsolata', monospace;
}

.secondaryButton:hover {
    background-color: rgb(219, 165, 7);
    color: rgb(25, 37, 54);
}