.sectionTitle {
    color: rgb(219, 165, 7);
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 32px;
}

.experienceBody {
    padding: 40px 0px 30vh 0;
}

.flex {
    display: flex;
    margin:30px 0;
    flex-wrap: wrap;
    gap:20px;
    width: 100%;
}

.flexSmallExperience {
    gap: 10px;
}

.card {
    background-color: rgb(52, 77, 113, 0.3);
    flex: 1;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    min-width: 200px;
}

.card > * {
    color: rgb(229, 235, 243);;

}

.projectImage {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    opacity: 0.5;
}

.projectImage:hover {
    opacity: 1;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.type {
    font-size: 12px;
}

.language {
    font-style: italic;
    font-size: 12px;
}

.flexCards {
    width: 275px;
    height: 325px;
    margin: 0;
    gap: 10px;
}

.bigProjectCardsContainer {
    margin: 40px 0 60px 0;
}

.iconLink {
    fill:rgb(229, 235, 243);
    width: 18px;
    margin: 0 10px;
}

.iconGroup {
    display: flex;
    align-items: flex-start;
}

.iconFlexContainer {
    display: flex;
    justify-content: space-between;
}