.headerBody {
    font-family: 'Inconsolata', monospace;
}


.header {
    display: flex;
    justify-content:end;
    margin-right: 2%;
    position: sticky;
}

.headerItem {
    margin: 25px;
    color: rgb(229, 235, 243);
    text-decoration: none;
}

.headerItemResume {
    color: rgb(25, 37, 54);
    background-color: rgb(219, 165, 7);
    border-radius: 20px;
    padding: 10px 20px;
    margin: -10px;
    text-decoration: none;
}

.headerItemResume:hover {
    background-color: rgb(25, 37, 54);
    color: rgb(219, 165, 7);
    outline: 2px solid rgb(219, 165, 7);
}